{% extends 'layout/base.twig' %}

{% block title %}
    {{ post.title }}
{% endblock %}

{% block content %}
    <div class="post">
        <div class="px-6 py-4 lg:px-8">
            <div class="mx-auto max-w-3xl text-base leading-7">
                <p class="text-base font-semibold leading-7 text-indigo-400">Introducing</p>
                <h1 class="mt-2 text-3xl font-bold tracking-tight sm:text-4xl">{{ post.title }}</h1>
                <p class="mt-6 text-xl leading-8">{{ post.content }}</p>
                <div class="mt-10 max-w-2xl">
                    {{ post.content }}
                </div>
                <figure class="mt-16">
                    <img class="aspect-video rounded-xl bg-gray-50 object-cover"
                         src="{{ asset('build/images/anime.jpg') }}" alt="">
                    <figcaption class="mt-4 flex gap-x-2 text-sm leading-6 text-indigo-400">
                        <svg class="mt-0.5 h-5 w-5 flex-none" viewBox="0 0 20 20" fill="currentColor"
                             aria-hidden="true">
                            <path fill-rule="evenodd"
                                  d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a.75.75 0 000 1.5h.253a.25.25 0 01.244.304l-.459 2.066A1.75 1.75 0 0010.747 15H11a.75.75 0 000-1.5h-.253a.25.25 0 01-.244-.304l.459-2.066A1.75 1.75 0 009.253 9H9z"
                                  clip-rule="evenodd"/>
                        </svg>
                        Faucibus commodo massa rhoncus, volutpat.
                    </figcaption>
                </figure>
                <div class="mt-16 max-w-2xl">
                    <h2 class="text-2xl font-bold tracking-tight">Read more from {{ post.author.name }}</h2>
                    {% for relatedPost in post.author.posts %}
                        {% if relatedPost.id != post.id %}
                            <div>
                                <a href="{{ relatedPost.url }}">
                                    {{ relatedPost.title }}
                                </a>
                            </div>
                        {% endif %}
                    {% endfor %}
                    <p class="mt-6">Purus morbi dignissim senectus mattis adipiscing. Amet, massa quam varius orci
                        dapibus volutpat cras. In amet eu ridiculus leo sodales cursus tristique. Tincidunt sed tempus
                        ut viverra ridiculus non molestie. Gravida quis fringilla amet eget dui tempor dignissim.
                        Facilisis auctor venenatis varius nunc, congue erat ac. Cras fermentum convallis quam.</p>
                    <p class="mt-8">Faucibus commodo massa rhoncus, volutpat. Dignissim sed eget risus enim. Mattis
                        mauris semper sed amet vitae sed turpis id. Id dolor praesent donec est. Odio penatibus risus
                        viverra tellus varius sit neque erat velit.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
