{# Expects field array [
        'name' => 'name',
        'label' => 'Name',
        'type' => 'text',
        'placeholder' => 'Enter your name',
        'value' => 'John Doe',
        'error' => 'This field is required',
        'svg' => 'user'
    ]
#}
<div class="flex flex-col mb-4">
    <div class="relative">
        <div class="absolute flex border border-transparent left-0 top-0 h-full w-10">
            <div class="flex items-center justify-center rounded-tl rounded-bl z-10 bg-gray-100 text-gray-600 text-lg h-full w-full">
                <object type="image/svg+xml" data="{{ asset('build/images/' ~ svg ~ '.svg') }}"
                        width="24"
                        height="24"
                >
                    SVG Image <!-- fallback image in CSS -->
                </object>
            </div>
        </div>

        <input id="{{ id ?? name }}"
               name="{{ name }}"
               type="{{ type ?? 'text' }}"
               placeholder="{{ placeholder }}"
               value="{{ value }}"
               class="{{ error ? 'border-red-500 ' : '' }}text-sm sm:text-base relative w-full border rounded placeholder-gray-400 focus:border-indigo-400 focus:outline-none py-2 pr-2 pl-12"
        >
    </div>
    {% if error is defined %}
        <span class="flex items-center font-medium tracking-wide text-red-500 text-xs mt-1 ml-1"> {{ error }} </span>
    {% endif %}
</div>
