<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.png') }}">
    <link rel="stylesheet" href="{{ asset('build/app.css') }}">
    {#    <script src="https://cdn.tailwindcss.com"></script> #}
    {% block head %}
    {% endblock %}

    <script type="application/javascript">
        function switchTheme(mode) {
            localStorage.theme = mode
            if (mode === 'dark') {
                document.documentElement.classList.add('dark')
            } else {
                document.documentElement.classList.remove('dark')
            }
        }

        function showDialog() {
            document.querySelector('dialog').showModal()
        }

        function hideDialog() {
            document.querySelector('dialog').close()
        }

        function redirect(url) {
            location.href = url;
        }
    </script>
</head>
<body>

<header class="bg-blue-500 p-6 flex justify-between">
    <div class="md:hidden">
        {% include('elements/button.twig') with {
            'label': 'Show',
            'class': 'md:hidden bg-blue-500 hover:bg-blue-700 active:bg-blue-900',
            'onclick': 'toggle()'
        } %}
    </div>

    <a href="/">
        <div class="w-12 h-12">
            <object type="image/svg+xml" data="{{ asset('build/images/logo-48.svg') }}"
                    width="48"
                    height="48"
                    class="pointer-events-none"
            >
                <img src="" alt="logo" width="48" height="48">
            </object>
        </div>
    </a>

    <div class="hidden md:flex">
        {% include('elements/button.twig') with {
            'label': 'Switch theme',
            'class': 'bg-blue-500 hover:bg-blue-700 active:bg-blue-900',
            'onclick': "switchTheme(localStorage.theme === 'dark' ? 'light' : 'dark')"
        } %}
        {% include('elements/button.twig') with {
            'label': 'Register',
            'class': 'hidden md:block bg-blue-500 hover:bg-blue-700 active:bg-blue-900',
            'onclick': "redirect('/auth/register')"
        } %}
        {% include('elements/button.twig') with {
            'label': 'Log In',
            'class': 'hidden md:block bg-blue-500 hover:bg-blue-700 active:bg-blue-900',
            'onclick': "redirect('/auth/login')"
        } %}
    </div>
</header>

<section class="bg-gray-200 flex min-h-screen">
    <div class="blocker hidden absolute inset-0 bg-gray-800/80 z-30"></div>
    <nav class="bg-gray-300 hidden md:block w-2/6 md:w-1/6 min-w-fit px-4 py-6 z-50 absolute inset-0 md:relative">
        <ul class="flex flex-col gap-4 h-full text-white font-bold">
            <a href="#!">
                <li class="border-gray-300 bg-blue-500 hover:bg-blue-700 active:bg-blue-800 w-full p-4 rounded-xl text-center">
                    PHP
                </li>
            </a>
            <a href="#!">
                <li class="border-gray-300 bg-blue-500 hover:bg-blue-700 active:bg-blue-800 w-full p-4 rounded-xl text-center">
                    DDEV
                </li>
            </a>
            <a href="#!">
                <li class="border-gray-300 bg-blue-500 hover:bg-blue-700 active:bg-blue-800 w-full p-4 rounded-xl text-center">
                    Magento
                </li>
            </a>
            <a href="#!">
                <li class="border-gray-300 bg-blue-500 hover:bg-blue-700 active:bg-blue-800 w-full p-4 rounded-xl text-center">
                    Go
                </li>
            </a>
            <a href="#!">
                <li class="border-gray-300 bg-blue-500 hover:bg-blue-700 active:bg-blue-800 w-full p-4 rounded-xl text-center">
                    Projects
                </li>
            </a>
        </ul>
    </nav>

    <script>
        const sidebar = document.querySelector('nav');
        const blocker = document.querySelector('.blocker');
        blocker.onclick = hide;

        function show() { // swipe right
            sidebar.classList.remove('hidden');
            blocker.classList.remove('hidden');
            document.body.style.overflow = 'hidden';
        }

        function hide() { // by blocker click, swipe left, or url change
            sidebar.classList.add('hidden');
            blocker.classList.add('hidden');
            document.body.style.overflow = '';
        }

        function toggle() {
            sidebar.classList.contains('hidden') ? show() : hide();
        }
    </script>

    <article class="p-6 w-full md:w-4/6">
        {% block content %}
        {% endblock %}
    </article>

    <aside class="bg-gray-300 w-1/6 hidden md:block">
        <div id="feed"></div>
        {% block aside %}
        {% endblock %}
    </aside>
</section>

<footer class="bg-blue-200 p-6 flex justify-center">
    {{ encore_entry_script_tags('feed') }}
    {% block footer %}
    {% endblock %}
    <p>© {{ 'now' | date('Y') }} Ilja Polanskis - Backend Web Developer</p>
</footer>

</body>
</html>
